

  <div *ngIf="loading">
    <mat-progress-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="400">
    </mat-progress-spinner>
  </div>

  <mat-card *ngIf="!loading">
  <mat-card-title>
    Ajouter une pizza<br>
    <button
      style="float: right" mat-fab color="primary"
      [routerLink]="['/admin/pizzas']">
      <mat-icon  matTooltip="Retour">assignment_return</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content class="mt-100">

    <form #addPizzaForm="ngForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nom de la pizza</mat-label>
      <input required name="nom" [(ngModel)]="pizza.nom" matInput>

      <mat-error>
        Veuillez saisir le nom de la pizza
      </mat-error>

    </mat-form-field>


      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Photo de la pizza</mat-label>
        <input required name="photo" [(ngModel)]="pizza.photo" matInput>

        <mat-error>
          Veuillez la photo de la pizza
        </mat-error>

      </mat-form-field>


    <mat-form-field class="w-100"  appearance="fill">
      <mat-label>Base de la pizza</mat-label>

      <mat-form-field class="w-100" appearance="fill">
        <mat-select [formControl]="baseControl" required>
          <mat-option>--</mat-option>
          <mat-option [value]="'tomate'">
           Tomate
          </mat-option>
          <mat-option [value]="'crème'">
            Crème
          </mat-option>
        </mat-select>
        <mat-error *ngIf="baseControl.hasError('required')">
          Veuillez choisir la base
        </mat-error>
      </mat-form-field>



    </mat-form-field>


    <mat-grid-list cols="3" rowHeight="5:1">

      <mat-grid-tile>
        <mat-form-field class="w-100"  appearance="fill">
          <mat-label>Ingrédient 1</mat-label>
          <input matInput name="ingredient1" [(ngModel)]="pizza.ingredient1">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>

        <mat-form-field  class="w-100"   appearance="fill">
          <mat-label>Ingrédient 2</mat-label>
          <input matInput name="ingredient2" [(ngModel)]="pizza.ingredient2">
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field  class="w-100"  appearance="fill">
          <mat-label>Ingrédient 3</mat-label>
          <input matInput name="ingredient3" [(ngModel)]="pizza.ingredient3">
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>

    <button [disabled]="!addPizzaForm.valid" mat-flat-button color="primary">Valider</button>

    </form>

  </mat-card-content>
</mat-card>
