<mat-card>
  <mat-card-title>
    Les pizzas<br>
    <button
            style="float: right" mat-fab color="primary"
            [routerLink]="['/admin/add']">
      <mat-icon  matTooltip="Ajouter une pizza">add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>

    <div *ngIf="loading">
      <mat-progress-spinner
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'"
        [diameter]="400">
      </mat-progress-spinner>
    </div>

    <div *ngIf="!loading">
      <div class="mat-elevation-z8 mt-100">


        <table *ngIf="dataSource && !loading" mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> nom </th>
            <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ingredient1">
            <th mat-header-cell *matHeaderCellDef> ingredient1 </th>
            <td mat-cell *matCellDef="let element"> {{element.ingredient1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ingredient2">
            <th mat-header-cell *matHeaderCellDef> ingredient2 </th>
            <td mat-cell *matCellDef="let element"> {{element.ingredient2}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="ingredient3">
            <th mat-header-cell *matHeaderCellDef> ingredient3 </th>
            <td mat-cell *matCellDef="let element"> {{element.ingredient3}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> photo </th>
            <td mat-cell *matCellDef="let element"> <img class="img-little" style="max-width: 100px" src="{{element.photo}}"/> </td>
          </ng-container>


          <!-- Name Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> action </th>
            <td mat-cell *matCellDef="let element">
              <button
                style="float: right; background-color: red;" (click)="remove(element.id)" mat-fab color="primary">
                <mat-icon  matTooltip="Supprimer">delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>

  </mat-card-content>
</mat-card>
