<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="invalidIds">
        The username and password were not recognized
      </mat-error>

      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        <mat-error>
          Veuillez saisir un email correcte
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input name="password" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button *ngIf="loginForm.form.valid" [disabled]="!loginForm.form.valid" mat-icon-button aria-label="Me connecter">
        <mat-icon class="green-color">check_circle</mat-icon>
      </button>

      <button *ngIf="!loginForm.form.valid" disabled mat-icon-button aria-label="Me connecter">
        <mat-icon class="red-color" >not_interested</mat-icon>
      </button>
    </form>



  </mat-card-content>
</mat-card>
