/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.green-color{
  color: green;
}
.red-color{
  color: red;
}

.mt-100{
  margin-top: 100px !important;
}
